<!DOCTYPE html>
<html lang="ko">
  <center><h1>로그인 페이지</h1></center>
    <body>
        <form action="/complete_login/" method="POST">
            <table align="center">
            <tr>
                <td>아이디&nbsp;&nbsp;&nbsp; <input type="text" name="L_name" size= "15"></td>
            </tr>
            <tr>
                <td>회원번호 <input type="password" name="L_number" size="15"></td>
            </tr>
            <tr>
                
                <td><input type="submit" value="로그인"></td>
            </tr>
            <tr>
                <td><input type="button" value="회원가입" onclick="location.href='http://127.0.0.1:5000/user_info/'"></td>
            </tr>
            </table>
        </form>
    </body>
</html>