<!DOCTYPE html>
<html lang="ko">
<style>
    body{background-color: palegoldenrod;}
</style>
<center><h1>회원 가입</h1></center>
    <body>
        <form action="/save_info/" method="POST">
            <table align="center">
                <tr>
                    <td>이름<input type="text" name=u_name size="15"></td>
                </tr>
                
                <tr>
                  <td>번호<input type="text" name=u_number size="15"></td>
                </tr>
                <tr>
                    <td>나이<input type="text" name=u_age size="15"></td>
                </tr>
                <tr>
                    <td>주소<input type="text" name=u_addr size="15"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="회원가입"</td>
                </tr>
            </table>
        </form>
    </body>
</html>
    
                
                
                
                
                
                
                
        
                
                
                
                
                
                
                
            
            
            
        















